

.ficha {
    margin: 0 auto;
    width: 470px;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 40px;
    text-align: center;
}



.texto{
    margin-top: 20px;
    margin: 0 auto; /* Centrar */
}

body {
    display: flex;/* Establece el contenedor como un contenedor de flexbox, permitiendo el diseño flexible de los elementos secundarios */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
   
.container {
            display: flex;
            align-items: center;
        }

.container img {
    max-width: 300px; 
    margin-right: 20px; /* ajustar el espacio entre la imagen y el texto */
	border-radius: 40px;
        }

